@import url(../variables.css);

.subPost{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .post_content{
        max-width: 500px;

        h4{
            color: var(--Purple);
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        h5{
            color: var(--medium-grey);

            a{
                color: var(--Purple);
            }
        }

        h2{
            letter-spacing: -2px;
        }
    }
}

.submit_create{
    background-color: var(--yellow);
    color: var(--black-blue);
    font-weight: 700;
    margin-top: 30px;
}

.createBlogForm{

    .input_group{
        width: '100%';
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 1px solid rgba(222, 216, 215, 0.4);

        input{
            width: 100%;
            border: none;
            outline: none;
        }

        select{
            width: 100%;
            background: transparent;
            outline: none;
            border: none;
        }
    }

    .input_group + p{
        color: rgba(255, 0, 0, 0.712);
        margin-top: -13px;
        font-size: 12px;
    }
}