@import url(../variables.css);

.subPost{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .post_content{
        max-width: 500px;

        h4{
            color: var(--Purple);
            font-size: 14px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        h5{
            color: var(--medium-grey);

            a{
                color: var(--Purple);
            }
        }

        h2{
            letter-spacing: -2px;
        }
    }
}

.submit_create{
    background-color: var(--yellow);
    color: var(--black-blue);
    font-weight: 700;
    margin-top: 30px;
}

.createBlogForm{

    h2{
        margin-bottom: 20px;
        color: var(--black-blue);
        font-weight: 900;
    }

    label{
        font-size: 14px;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    .input_group{
        margin-bottom: 15px;

        input{
            width: 100%;
            border: 1px solid #5a5a5a52;
            height: 50px;
            padding: 10px 15px;
            outline: none;
        }

        select{
            width: 100%;
            background: transparent;
            outline: none;
            border: 1px solid #5a5a5a52;
            padding: 10px 15px;
        }

        textarea{
            width: 100%;
            border: 1px solid #5a5a5a52;
            height: 144px;
            resize: none;
            padding: 20px;
        }

        .error{
            color: rgba(255, 53, 53, 0.61);
            text-align: start;
            font-size: 12px;
            font-weight: 500;
            margin-top: 2px;
            text-transform: capitalize;
            letter-spacing: -1px;
            font-family: "Inter", sans-serif;
            margin-bottom: 15px;
        }
    }

    // .input_group + p{
    //     color: rgba(255, 0, 0, 0.712);
    //     margin-top: -13px;
    //     font-size: 12px;
    // }
}