@import url(../../variables.css);

.homePage{
    position: relative;

    .homePage_section{
        max-width: 1440px;
        margin: 0 auto;
        background-image: url(../../assets/image/homebanner.png);
        width: 100%;
        height: 90vh;

        .inner_homePage{
            width: 100%;
            height: 100%;
            background: radial-gradient(30.56% 76.04% at 74.58% 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            padding: 70px 0 0 50px;

            h4{
                color: var(--light);
                text-transform: uppercase;
                margin-bottom: 20px;

                span{
                    font-weight: 800;
                }
            }

            h2{
                color: var(--light);
                max-width: 700px;
                margin-bottom: 25px;
            }

            h5{
                color: var(--light);
                margin-bottom: 20px;

                a{
                    color: var(--yellow);
                }
            }

            p{
                color: var(--light);
                max-width: 600px;
                margin-bottom: 30px;
            }

            button{
                background-color: var(--yellow);
            }
        }
    }
    
    .homePageWrapper{
        position: relative;

        .features_post{
            width: 100%;
            padding: 50px 0 20px 0;
            display: flex;
            justify-content: space-between;
            gap: 30px;

            .feat_post{

                h3{
                    margin-bottom: 30px;
                    letter-spacing: -2px;
                }

                .feat_news{
                    border: 2px solid #5555550a;
                    padding: 20px;

                    .dateTime{

                        p{
                            margin-top: 20px;
                            color: var(--medium-grey);

                            span{
                                color: var(--Purple);
                            }
                        }

                        h3{
                            color: var(--black-blue);
                            margin-bottom: 15px;
                        }

                        div{
                            color: var(--medium-grey);
                            max-width: 550px;
                            margin-bottom: 20px;
                        }

                        button{
                            background-color: var(--yellow);
                            color: var(--black-blue);
                        }
                    }
                }
            }

            .allpost{

                .all_title{
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h2{
                        text-transform: capitalize;
                        color: var(--black-blue);
                    }

                    a{
                        text-transform: capitalize;
                        color: var(--Purple);
                    }
                }

                .allpost_item_container{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

                    .allpost_item_content{
                        background-color: var(--light);
                        padding: 30px 40px;

                        p{
                            color: var(--medium-grey);

                            span{
                                color: var(--Purple);
                            }
                        }
                    }
                }
            }
        }

        .aims{
            width: 100%;
            padding: 50px 0 20px 0;

            .aims_sider{
                display: flex;
                justify-content: end;

                .silder1{
                    height: 20px;
                    background-color: var(--yellow);
                    width: 50%;
                }

                .silder1.colo{
                    background-color: var(--Purple);
                    width: 30%;
                }
            }

            .aims_content{
                display: flex;
                justify-content: space-between;
                gap: 70px;
                background-color: var(--Lavender);
                padding: 60px 70px;

                .aims_inner{
                    width: 50%;

                    h4{
                        color: var(--black-blue);
                        text-transform: uppercase;
                        margin-bottom: 25px;
                    }

                    h2{
                        color: var(--black-blue);
                        margin-bottom: 18px;
                        letter-spacing: -2px;
                    }

                    h2.heading2{
                        font-size: 37px;
                    }

                    p{
                        color: var(--medium-grey);
                    }

                    a{
                        text-transform: capitalize;
                        color: var(--Purple);
                        font-size: 16px;
                        font-weight: 700;
                        font-family: "Sen", sans-serif;
                    }
                }
            }
            
        }

        .started{
            width: 100%;
            position: relative;
            padding: 50px 0 30px 0;

            .started_image{
                position: relative;
                max-width: 800px;
            }

            .started_content{
                background-color: var(--light);
                position: absolute;
                top: 27%;
                max-width: 700px;
                padding: 50px 60px;
                left: 40%;

                h4{
                    color: var(--black-blue);
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }

                h2{
                    color: var(--black-blue);
                    letter-spacing: -2px;
                }

                p{
                    color: var(--medium-grey);
                    margin-bottom: 20px;
                }

                button{
                    background-color: var(--yellow);
                    margin-bottom: 30px;
                    color: var(--black-blue);
                }
            }
        }

        .logoComponent{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;

            img{
                width: 120px;
                opacity: 0.6;
            }
        }

        .testimonials{
            background-color: var(--Light-yellow);
            width: 100%;
            padding: 50px 70px;
            display: flex;
            gap: 50px;
            justify-content: space-between;

            
            .testi1{
                max-width: 400px;
                h4{
                    text-transform: uppercase;
                    color: var(--black-blue);
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                }

                h2{
                    color: var(--black-blue);
                    font-size: 36px;
                    margin-bottom: 20px;
                }

                p{
                    color: var(--black-blue);
                }
            }

            .testi2{
                width: 1px;    
                min-height: 100%;
                background-color: var(--medium-grey);
               
            }

            .testi3{
                max-width: 600px;

                h3{
                    margin-bottom: 90px;
                    max-width: 500px;
                }

                .inner_testi3{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 30px;

                    .testi_image{
                        display: flex;
                        align-items: center;
                        column-gap: 20px;

                        img{
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                        }

                        .testi_image_content{
                            h3{
                                margin-bottom: 3px;
                                color: var(--black-blue);
                            }
                            h2{
                                color: var(--medium-grey);
                            }
                        }
                    }

                    .arrow_button{
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .arr1{
                            width: 48px;
                            height: 48px;
                            background-color: var(--light);
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .arr1.arrDiff{
                            background-color: var(--black-blue);
                            width: 62px;
                            height: 62px;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 1000px) {
            .testimonials{
                padding: 50px 20px;
                gap: 20px;
            }
        }

        @media screen and (max-width: 600px) {
            .testimonials{
               flex-direction: column;
            }
            .testi2{
                min-width: 100%;    
                height: 1px;
                background-color: var(--medium-grey);
            }
        }
    }
}

