*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

section{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

/* common font  */
.label1,
.body2,
.cap_01,
.cap_02,
.cap_03,
.body1{
  font-family: "Inter", sans-serif;
}

.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6{
  font-family: "Sen", sans-serif;
  font-weight: 700;
}

.heading1{
  font-size: 48px;
}

.heading2{
  font-size: 30px;
}

.heading3{
  font-size: 28px;
}

.heading4{
  font-size: 24px;
}

.heading5{
  font-size: 20px;
}

.heading6{
  font-size: 16px;
}

.cap_01,
.cap_03,
.body1{
  font-size: 16px;
}


.body1,
.body2,
.cap_02{
  font-weight: 400;
}

.body2{
  font-size: 14px;
}

.label1{
  font-size: 14px;
  font-weight: 500;
}

.cap_01{
  font-weight: 600;
}

.cap_02{
  font-size: 12px;
}

.cap_03{
  font-weight: 900;
}

/* common button  */

.white_btn{
  text-align: center;
  text-transform: capitalize;
  padding: 12px 38px;
  font-weight: 700;
  font-size: 18px;
  background: #FFFFFF;
}

@media screen and (max-width: 800px) {
  section{
    padding: 0 30px;
  }
}