:root{
    /* color  */
    --black-blue: #232536;
    --yellow: #FFD050;
    --drak-grey : #4C4C4C;
    --medium-grey: #6D6E76;
    --Purple: #592EA9;
    --light: #FFFFFF;
    --Light-yellow: #FBF6EA;
    --Light-grey: #F4F4F4;
    --Lavender: #F4F0F8;
}